nav{
    width:1200px;

}
nav ul{
    list-style: none;
}
nav ul li{
    width:250px;
    background-color: green;
    text-align: center;
    float: left;
    border-right: 2px solid black;
    line-height: 50px;
    /* transition:all 1s; */
    transition: background-color 2s, line-height 1s;
}
nav ul li:hover{
    background-color: orange;
    line-height: 60px;
    
}
/* nav ul li:last-of-type{
    border-right:none;
} */

nav ul li:first-of-type{
    border-left:2px solid black;
}

nav ul li a{
    color:white;
    text-decoration: none;
}
